.fa-star{
    /*color: #84b645!important;*/
}
.owl-dot span{
    background-color: #84b645!important;
}
.main-menu-wrapper{
    background-color: #84b645!important;
}
.p-color-bg{
    background-color: #84b645!important;
    /*border-color: #84b645;*/
}
.p-color{
    color: #84b645!important;
}
.fa-graduation-cap{
    color: #84b645!important;
}
.fa-tags{
    color: #84b645!important;
}
.fa-diamond{
    color: #84b645!important;
}
.text .tran4s:hover{
    background-color: #84b645!important;
}
.single-post:hover .text{
    background-color: #84b645!important;
}
.img-holder .round-border:hover{
    background-color: #84b645!important;
}
.item-wrapper:hover .round-border{
    background-color: #84b645!important;
}