.fa-star{
    /*color: #84b645!important;*/
}
.owl-dot span{
    background-color: #84b645!important;
}
.main-menu-wrapper{
    background-color: #84b645!important;
}
.p-color-bg{
    background-color: #84b645!important;
    /*border-color: #84b645;*/
}
.p-color{
    color: #84b645!important;
}
.fa-graduation-cap{
    color: #84b645!important;
}
.fa-tags{
    color: #84b645!important;
}
.fa-diamond{
    color: #84b645!important;
}
.text .tran4s:hover{
    background-color: #84b645!important;
}
.single-post:hover .text{
    background-color: #84b645!important;
}
.img-holder .round-border:hover{
    background-color: #84b645!important;
}
.item-wrapper:hover .round-border{
    background-color: #84b645!important;
}
button .fa{
    color: white!important;
}
.fa{
    color: #84b645!important;
}
.fa:hover{
    color: #fff!important;
}
.round-border:hover .fa{
    color: #fff!important;
}
.ficon{
    /*background-color: #84b645!important;*/
    color: #84b645!important;
}
.carousel-indicators li{
    background-color: #84b645!important;
}
.bottom-footer .tran3s{
    color: #84b645!important;
}
.footer-quick-link .tran3s:hover{
    color: #84b645!important;
}
.single-event:hover h6{
    color: #84b645!important;
}
.footer-about a:hover{
    color: #84b645!important;
}
.footer-contact a:hover{
    color: #84b645!important;
}
.footer-event a:hover{
    color: #84b645!important;
}

/*a .tran3s :hover{
    color: #84b645!important;
}*/

#map {
    height: 100vh;
    width: 100%;
}
header.inner-header {
     background-color: #fff;
     color: #000;
}
header.inner-header .tran3s{
     color: #adadad !important
}

/*.top-header .container .left-side .float-left{
    background-color: #000
}*/